<!DOCTYPE >
<html lang="en">

<head>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/style.css">
  <meta charset="UTF-8">

  <title>PEGBA</title>
</head>

  <body class = "styling">

    <div class = "container">
      <div class = "jumbotron">
        <h1>Welcome Administrator!</h1>
        <h3>Feel Free to Edit the inventory of our shit!</h3>
      </div>
    </div>
    <form action="/admin/logout" method="post">
      <button id="logOut">Log Out</button>
    </form>
    <ul>
        <% shirt.each do |shirt| %>
          <li>

            <form action="/admin/<%= shirt.id %>" method="post">
              <img src="<%= shirt[:img_url] %>" class = "index_image" id = "admin_image">
              <input type="hidden" name="_method" value="put">
              <input type="text" name='<%= shirt.id %>' placeholder='<%=shirt[:color]%>' readonly></input>
              <input type="text" name='quantity' placeholder='Current Shirts <%=shirt[:quantity]%>'></input>
              <button>Submit edits</button>
            </form>

          </li>

        <% end %>

    </ul>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <script src='/index.js'></script>

  </body>
</html>
